body{
background-color: rgb(183, 0, 255);



}
nav{
    background-color: darkblue;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: blue;
}